body { 
  min-height: 100vh; 
  margin: 0;  
  text-align: center;
  background: rgb(63,94,251);
  background: linear-gradient(0deg, rgba(63,94,251,1) 0%, rgba(4,166,62,1) 100%);
  /* background-color: brown; */
} 

#root {
  width: 100%; 
  min-width: 330px; 
  margin: 0 auto;
}
