.tarea {
  width: 30%;
  min-width: 300px;
  margin: 20px auto;
  display: flex;
  justify-content: space-between; 
  align-items: center;
} 

span, .tarea p { 
  margin: 5px; 
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
} 

.tarea p.texto--hecho {
  text-decoration:line-through; 
}

.tarea span.tick--hecho {
  color: rgb(25, 209, 19);
} 

.tarea span.basura:hover {
  color: rgb(209, 19, 19);
} 